::-moz-selection {
background:#e06d5e;
}
::selection {
background:#e06d5e;
}

.navbar .brand a:hover {
	color:#a8b747;
}



ul#menu-main > li > a:hover {
	color: #a8b747;
}


ul#menu-main > li > a:focus,ul#menu-main > li > a:active, ul#menu-main > li > a.selected, ul#menu-main li a.selected:active    {
	color: #a8b747;
}
#header-wrapper h1 span {
	color:#a8b747;
}

#header-wrapper input[type=submit] {
	background: #a8b747 !important;
}

#theme-form input[type=submit] {
	background: #a8b747 !important;
}

.btn.btn-theme {
	background: #5a632b !important;
}

/* blog */
.home-post .post-meta {
	background: #a8b747;
}

/* com */
.tabbable ul.nav-tabs li.active a,.tabbable ul.nav-tabs li a:hover {
	color: #a8b747;
}
.accordion .accordion-heading a.active {
	color: #a8b747;
}

#tweet ul li a {
	color: #a8b747;
}


/* works */
#filters ul li a:hover h5, #filters ul li a.active h5 {
	background: #818e3e;
	border-color: #818e3e;
}

.portfolio .portfolio-overlay {
	background: #a8b747;
}

/* icon */
i.icon-bgdark:hover {
	background: #818e3e;
}

i.icon-bgdark.active {
	background: #e06d5e;
}