@import url(https://fonts.googleapis.com/css?family=Lato);
body{
	/* Ubicación de la imagen */
background:url(../../images/background_404.jpg) repeat center center #1d1d1d;




/* Para dejar la imagen de fondo centrada, vertical y

horizontalmente */

background-position: center center;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

background-size: cover;

/* Se muestra un color de fondo mientras se está cargando la imagen

de fondo o si hay problemas para cargarla */

background-color: #66999;




	font-family: 'Lato',sans-serif;
	font-size:13px;
	margin:0 30%;
	max-height:100%;
	max-width:100%;
	overflow-x:hidden;
}

.number{
	display:inline;	
	float:left;
	margin-top:20px;
	font-size:100px;
}
.hgroup{
	display:block;
	text-align:center;
	bottom:100px !important;
	clear:both;
}

h1{
	color:#2e2b8d;
	-webkit-text-stroke: 1px #fff;
}

h2{
	color:#fff;
	font-size:18px;
	font-weight:normal;
	padding:10px 0;
}

.icon{
	float:left;
	padding-top:50px;
}

#animate{
	position:relative;
	text-align:center;
	margin:0 auto;
	width:auto;
}


@media only screen and (min-width:320px) and (max-width: 640px)  {
	
	body{
		max-height:100%;
		max-width:100%;
		margin:0 auto;
		overflow-x:hidden;
	}
}

.centrar{

position: absolute;
		/*nos posicionamos en el centro del navegador*/
		top:30%;
		left:50%;
		/*determinamos una anchura*/
		width:400px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left:-200px;
		/*determinamos una altura*/
		height:300px;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top:-150px;
	
		padding:5px;

}

.boton_inicio{
position: absolute;
		/*nos posicionamos en el centro del navegador*/
		top:90%;
		left:50%;
		/*determinamos una anchura*/
		width:400px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left:-200px;
		/*determinamos una altura*/
		height:300px;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top:-150px;
	
		padding:5px;

}