@font-face {
  font-family: 'ruda';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.googleapis.com/css?family=Vibes&display=swap) format('truetype');
}

.rudaregular {
  font-family: "rudaregular";
  /*font-size: 150%;*/
}

body
{

    /*position: relative;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    color: #555555;
    background: url(../images/background_certificado.jpg);
    background-repeat: no-repeat;
        background-size: 1000px 1100px;
    font-size: 14px;*/
 
    
}

@page { margin:0px; }

.container{
position:absolute;
z-index: 2;
width: 612px;
left: 152px;
}
.titulo
{
	text-align: center;
	font-weight:bold;
      font-family: "rudaregular";
}

.no_certificado{
	text-align: right;
	font-size: 10px;

}
.contenido
{
	text-align: justify;
}
.datos_recoleccion
{
text-align: left;
font-weight:bold;

}
.cabezera_tabla
{
	background-color:#c4d05bcf;
}


